.form-primary
  lost-center 600px
  padding $space-sm
  background #fff
  color $text-color
  font-size rem(14px)
  margin-top 20px
  padding $space
  box-shadow 0 1px 2px rgba(0,0,0,.1)

  // +desktop()
  //   margin-top 20px
  //   padding $space
  //   box-shadow 0 1px 2px rgba(0,0,0,.1)

  > .description
    color $gray-light
    font-size rem(16px)

  label,
  input,
  button
    display block
    width 100%

  input
    padding $space-sm

  label
    margin-top $space-sm
    margin-bottom 5px
    font-weight bold
    text-transform uppercase

  input
    border 2px solid rgba(0,0,0,.10)
    border-radius 3px
    transition border 0.3s

    &:focus
      outline none
      border 2px solid $brand-primary
