.modal-alert

  > .open:checked ~ .wrap

    &:before,
    & .overlay
      display block

    .dialog
      transform translate(-50%,-50%)
      position fixed
      top 40%

  > .wrap

    &:before
      content ''
      display none
      background alpha(#000, 60%)
      padding $space
      position fixed
      top 0
      bottom 0
      right 0
      left 0
      z-index 101

    > .overlay
      display none
      position fixed
      top 0
      right 0
      bottom 0
      left 0
      z-index 102

    > .dialog
      position fixed
      left 50%
      top -100%
      transform translate(-50%,-150%)
      transition transform .6s ease-in-out
      max-width 600px
      width 300px
      padding $space-md
      background #fff
      border-radius 4px
      z-index 103
      font-size rem(16px)
      text-align center
      color $text-color

      +above($desktop)
        width 500px
        padding $space-lg


      > .close
        position absolute
        right 0
        top 0px
        padding $space-xs $space-sm
        font-size rem(15px)
        font-weight bold
        color #fff
        background #c0392b
        border-radius 1px
        transition background .6s
        cursor pointer

        &:hover
          color #fff
          background darken(#c0392b,20%)

.success
  color #27ae60

.warning
  color #f1c40f

.error
  color #c0392b
