html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
  font-family: 'Open Sans', sans-serif;
  color: rgba(29,28,28,0.92);
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #3498db;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-footer {
  padding: 20px;
  text-align: center;
  font-size: 0.875rem;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  padding: 0 2rem;
  background: #3498db;
  width: 100%;
  height: 80px;
  text-align: center;
}

.brand a {
  font-size: 1.5rem;
  color: #fff;
}

.brand a:hover {
  text-decoration: none;
}

.btn-primary {
  padding: 1rem;
  margin: 1rem 0;
  background: #3498db;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  text-align: center;
  cursor: pointer;
}

.btn-primary:hover {
  background: #217bb8;
}

.form-primary {
  *zoom: 1;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  background: #fff;
  color: rgba(29,28,28,0.92);
  font-size: 0.875rem;
  margin-top: 20px;
  padding: 2rem;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.form-primary:before {
  content: '';
  display: table;
}

.form-primary:after {
  content: '';
  display: table;
  clear: both;
}

.form-primary > .description {
  color: #aaa;
  font-size: 1rem;
}

.form-primary label,
.form-primary input,
.form-primary button {
  display: block;
  width: 100%;
}

.form-primary input {
  padding: 1rem;
}

.form-primary label {
  margin-top: 1rem;
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.form-primary input {
  border: 2px solid rgba(0,0,0,0.1);
  border-radius: 3px;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}

.form-primary input:focus {
  outline: none;
  border: 2px solid #3498db;
}

.modal-alert > .open:checked ~ .wrap:before,
.modal-alert > .open:checked ~ .wrap .overlay {
  display: block;
}

.modal-alert > .open:checked ~ .wrap .dialog {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: fixed;
  top: 40%;
}

.modal-alert > .wrap:before {
  content: '';
  display: none;
  background: rgba(0,0,0,0.6);
  padding: 2rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 101;
}

.modal-alert > .wrap > .overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 102;
}

.modal-alert > .wrap > .dialog {
  position: fixed;
  left: 50%;
  top: -100%;
  -webkit-transform: translate(-50%, -150%);
  transform: translate(-50%, -150%);
  -webkit-transition: transform 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  max-width: 600px;
  width: 300px;
  padding: 3rem;
  background: #fff;
  border-radius: 4px;
  z-index: 103;
  font-size: 1rem;
  text-align: center;
  color: rgba(29,28,28,0.92);
}

.modal-alert > .wrap > .dialog > .close {
  position: absolute;
  right: 0;
  top: 0px;
  padding: 0.5rem 1rem;
  font-size: 0.938rem;
  font-weight: bold;
  color: #fff;
  background: #c0392b;
  border-radius: 1px;
  -webkit-transition: background 0.6s;
  transition: background 0.6s;
  cursor: pointer;
}

.modal-alert > .wrap > .dialog > .close:hover {
  color: #fff;
  background: #9a2e22;
}

.success {
  color: #27ae60;
}

.warning {
  color: #f1c40f;
}

.error {
  color: #c0392b;
}

@media only screen and (min-width: 992px) {
  .brand a {
    font-size: 1.75rem;
  }

  .modal-alert > .wrap > .dialog {
    width: 500px;
    padding: 4rem;
  }
}