*,
*:after,
*:before
	box-sizing: border-box;

body
	background #f1f1f1
	font-family $font-family
	color $text-color

h1
	margin 0
	padding 0

a
	text-decoration none
	color $brand-primary

	&:hover
		text-decoration underline

p
	margin 0
